In [1]:
import os
import glob

import pandas as pd
from PIL import Image
from tqdm.notebook import trange, tqdm

In [3]:
!pwd

/Users/cyc/Documents/python_files/SC201/project

In [2]:
data_root = "/Users/cyc/Documents/python_files/SC201/project/raw_data"

files = glob.glob(os.path.join(data_root, "*/*.jpg"))
print(f"{len(files)} images")

1350 images

## Image size stats

In [15]:
img = Image.open("/Users/liponan/Source/flickr_scraper/images/Chlorophytum_comosum/9134863648_5db26c8cb6_o.jpg")

UnidentifiedImageError: cannot identify image file '/Users/liponan/Source/flickr_scraper/images/Chlorophytum_comosum/9134863648_5db26c8cb6_o.jpg'

In [3]:
df = []

for f in tqdm(files):
    cat = f.split('/')[-2]
    try: 
        img = Image.open(f)
        w, h = img.size

        df.append(
            dict(
                img_path=f,
                cat=cat,
                w=w,
                h=h,
                max_dim=max(w, h)
            )
        )
    except:
        continue
    
df = pd.DataFrame(df)
df

  0%|          | 0/1350 [00:00<?, ?it/s]

,img_path,cat,w,h,max_dim
0,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,1068,1424,1424
1,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,375,500,500
2,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,800,450,800
3,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,650,975,975
4,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,735,1102,1102
...,...,...,...,...,...
1345,/Users/cyc/Documents/python_files/SC201/projec...,monstera,750,829,829
1346,/Users/cyc/Documents/python_files/SC201/projec...,monstera,600,900,900
1347,/Users/cyc/Documents/python_files/SC201/projec...,monstera,640,640,640
1348,/Users/cyc/Documents/python_files/SC201/projec...,monstera,736,1104,1104
1349,/Users/cyc/Documents/python_files/SC201/projec...,monstera,968,1296,1296

## Data distribution

In [19]:
df.describe()

                 w            h      max_dim
count  1350.000000  1350.000000  1350.000000
mean    776.550370   917.908889   962.391111
std     563.157904   700.086949   716.950366
min     150.000000   150.000000   150.000000
25%     450.000000   500.000000   550.000000
50%     640.000000   736.000000   799.000000
75%     960.000000  1080.000000  1104.000000
max    5184.000000  6000.000000  6000.000000

In [20]:
df.cat.value_counts()

aglaonema_commutatum      168
monstera                  162
dracaena                  133
zamioculcas               111
epipremnum_aureum         110
hoya_carnosa               85
asplenium_nidus            67
tradescantia_zebrina       67
schefflera_arboricola      65
maranta_leuconeura         48
calathea_orbifolia         47
chamaedorea_elegans        46
rhapis_excelsa             44
dypsis_lutescens           43
peperomia_obtusifolia      37
pachira_aquatica           32
dracaena_reflexa           28
nephrolepis_cordifolia     20
philodendron_gloriosum     19
peperomia_argyreia         18
Name: cat, dtype: int64

## Data splitting

In [4]:
val_frac = 0.05
test_frac = 0.05

df["subset"] = "train"
df.loc[df.query("subset == 'train'").sample(frac=val_frac).index, "subset"] = "val"
df.loc[df.query("subset == 'train'").sample(frac=val_frac).index, "subset"] = "test"
df

,img_path,cat,w,h,max_dim,subset
0,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,1068,1424,1424,test
1,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,375,500,500,train
2,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,800,450,800,train
3,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,650,975,975,train
4,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,735,1102,1102,train
...,...,...,...,...,...,...
1345,/Users/cyc/Documents/python_files/SC201/projec...,monstera,750,829,829,train
1346,/Users/cyc/Documents/python_files/SC201/projec...,monstera,600,900,900,train
1347,/Users/cyc/Documents/python_files/SC201/projec...,monstera,640,640,640,train
1348,/Users/cyc/Documents/python_files/SC201/projec...,monstera,736,1104,1104,train
1349,/Users/cyc/Documents/python_files/SC201/projec...,monstera,968,1296,1296,train

In [5]:
df.query("subset == 'val'").cat.value_counts()

aglaonema_commutatum      9
dracaena                  8
monstera                  7
asplenium_nidus           6
epipremnum_aureum         5
schefflera_arboricola     4
maranta_leuconeura        4
zamioculcas               4
peperomia_argyreia        4
tradescantia_zebrina      3
chamaedorea_elegans       3
peperomia_obtusifolia     2
calathea_orbifolia        2
rhapis_excelsa            2
hoya_carnosa              2
philodendron_gloriosum    1
pachira_aquatica          1
dracaena_reflexa          1
Name: cat, dtype: int64

In [6]:
df.query("subset == 'test'").cat.value_counts()

dracaena                  9
zamioculcas               8
monstera                  7
dypsis_lutescens          6
aglaonema_commutatum      6
schefflera_arboricola     4
maranta_leuconeura        4
epipremnum_aureum         4
peperomia_obtusifolia     3
asplenium_nidus           2
rhapis_excelsa            2
hoya_carnosa              2
tradescantia_zebrina      2
chamaedorea_elegans       2
calathea_orbifolia        1
peperomia_argyreia        1
nephrolepis_cordifolia    1
Name: cat, dtype: int64

In [26]:
df['cat'].value_counts().reset_index().sort_values('cat', ascending=False)

                     index  cat
0     aglaonema_commutatum  168
1                 monstera  162
2                 dracaena  133
3              zamioculcas  111
4        epipremnum_aureum  110
5             hoya_carnosa   85
6          asplenium_nidus   67
7     tradescantia_zebrina   67
8    schefflera_arboricola   65
9       maranta_leuconeura   48
10      calathea_orbifolia   47
11     chamaedorea_elegans   46
12          rhapis_excelsa   44
13        dypsis_lutescens   43
14   peperomia_obtusifolia   37
15        pachira_aquatica   32
16        dracaena_reflexa   28
17  nephrolepis_cordifolia   20
18  philodendron_gloriosum   19
19      peperomia_argyreia   18

In [23]:
pd.pivot_table(df, index='cat', columns='subset', values='img_path', aggfunc = 'count').sort_values('train', ascending=False)

subset                  test  train  val
cat
aglaonema_commutatum     6.0  153.0  9.0
monstera                 7.0  148.0  7.0
dracaena                 9.0  116.0  8.0
epipremnum_aureum        4.0  101.0  5.0
zamioculcas              8.0   99.0  4.0
hoya_carnosa             2.0   81.0  2.0
tradescantia_zebrina     2.0   62.0  3.0
asplenium_nidus          2.0   59.0  6.0
schefflera_arboricola    4.0   57.0  4.0
calathea_orbifolia       1.0   44.0  2.0
chamaedorea_elegans      2.0   41.0  3.0
maranta_leuconeura       4.0   40.0  4.0
rhapis_excelsa           2.0   40.0  2.0
dypsis_lutescens         6.0   37.0  NaN
peperomia_obtusifolia    3.0   32.0  2.0
pachira_aquatica         NaN   31.0  1.0
dracaena_reflexa         NaN   27.0  1.0
nephrolepis_cordifolia   1.0   19.0  NaN
philodendron_gloriosum   NaN   18.0  1.0
peperomia_argyreia       1.0   13.0  4.0

## How to handle data imbalance

### Downsample the majorities

e.g. only sample 606 from each of the category

### Oversample the minorities

e.g. oversample all but the most populated catetories so that they all have 982 images

### Use a categorical weights

Give the minority category a slighter training penalty

```
loss_fun = nn.CrossEntrophyLoss(weights=[1.0, 2.0, 3.0])
```

## Resize images

In [22]:
export_dst = "/Users/cyc/Documents/python_files/SC201/project/resized"


for f in tqdm(files):
    try: 
        img = Image.open(f)
        w, h = img.size
        cat = f.split('/')[-2]
        os.makedirs(os.path.join(export_dst, cat), exist_ok=True)
        
        if w > h:
            w_dst = 1024
            h_dst = int(h / w * 1024)
        else:
            h_dst = 1024
            w_dst = int(w / h * 1024)
        
        
        img = img.resize((w_dst, h_dst), resample=Image.BILINEAR)
        
        img.save(os.path.join(export_dst, cat, os.path.basename(f)))
        
        
    except:
        continue

  0%|          | 0/1350 [00:00<?, ?it/s]

## Resize with splitting and categories

In [13]:
df.head()

,img_path,cat,w,h,max_dim,subset
0,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,1068,1424,1424,test
1,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,375,500,500,train
2,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,800,450,800,train
3,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,650,975,975,train
4,/Users/cyc/Documents/python_files/SC201/projec...,dypsis_lutescens,735,1102,1102,train

In [17]:

export_dst = "/Users/cyc/Documents/python_files/SC201/project/resized"


for i in trange(len(df)):
    try: 
        image_path, cat, subset = df.iloc[i][["img_path", "cat", "subset"]]
        img = Image.open(image_path)
        w, h = img.size
        os.makedirs(os.path.join(export_dst, subset, cat), exist_ok=True)

        if w > h:
            w_dst = 1024
            h_dst = int(h / w * 1024)
        else:
            h_dst = 1024
            w_dst = int(w / h * 1024)


        img = img.resize((w_dst, h_dst), resample=Image.BILINEAR)
        img.save(os.path.join(export_dst, subset, cat, os.path.basename(image_path)))
        
        
    except:
        continue

  0%|          | 0/1350 [00:00<?, ?it/s]